body {
  font-size: 160%;
  line-height: inherit; /* pour le décalage entre side bar et nav bar*/
}

/* colors */
.skin-green .main-header .navbar {
  background-color: #ce7e26;
}

.skin-green .main-header .logo {
  background-color: #ce7e26;
}

.skin-green .main-header .logo:hover {
  background-color: #ce7e26;
}

.skin-green .main-header .navbar .sidebar-toggle:hover {
  background-color: #b94137;
}

.box.box-solid.box-success > .box-header {
  background: #b94137;
  background-color: #b94137;
}

.box.box-solid.box-success {
    border: 1px solid #b94137;
}


/* buttons colors */
.bttn-material-flat.bttn-default {
  background: #e4e4e4;
  color: #000;
}

.skin-green .sidebar-menu > li.active > a, .skin-green .sidebar-menu > li:hover > a {
    color: #ce7e26;
    border-left-color: #b94137;
}

a:focus, a:hover {
  color: #b94137;
}

a {
  color: #ce7e26;
}

blockquote {
  border-left: 5px solid #b94137;
}

/* fixed header and sidebar */
.main-header {
  position: fixed;
  width: 100vw;
}

.sidebar {
  position: fixed;
  width: 230px;
}

.content {
  margin-top: 50px; /* PB responsive, résoudre avec padding ? */
}

/* hr color */
hr {
  border-top: 1px solid #092d01;
}

/* validate button color 
#valider{
  color: #ecf0f5; 
  background-color: #222d32; 
  border-color: #222d32; 
  font-size: 200%
}

#valider:hover{
  color: #ce7e26; 
  background-color: #1e282c; 
  border-color: #1e282c;
}*/



/* markdown tabs and their images */
.markdown-tab {
  padding-left: 2em;
  padding-bottom: 5vw;
  /* padding-top: 50px; */
}

.markdown-tab p {
  padding-right: 10vw;
}

.responsive-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50vw; 
  max-height: 400px;
}

.inbox-img {
  max-width: 100%;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85vw; 
  max-width: 400px;
}

.logo-10 {
  height: 10vw;
  max-height: 80px;
  display: inherit;
  margin: 5px;
}

/* center images */
.center, .shiny-image-output{
  text-align: center;
}

/* center leaflet maps  */
.leaflet-container {
  margin: auto;
}

#variete_img_desc img{
  width: 100%; 
  max-width: 320px;
}

#footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* helpers position when it is in a box header */
.shinyhelper-container.shinyhelper-container2 {
  position: relative;
  color: #fff;
  float: right;
  right: 0;
  padding-left: 10px;
}

/* boxes margins, marche pas car boutons dans les boîtes sont décalés...
.col-sm-6 {
  padding-right: 5px;
  padding-left: 5px;
} */
